<h1 class="animated fadeIn fast">Puro Perro Friki alv compa!!</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, porro similique? Rem, sunt repellat dolor quas, tenetur distinctio est nisi et nulla voluptatum necessitatibus, iure voluptatem. Odit asperiores animi tenetur.
</p>