<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <h1 class="display-4">Comic App</h1>
    <p class="lead">Esta es una aplicacion de comics.</p>
    <hr class="my-4">
    <p>Aqui conoceras a tus super heroes favoritos.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a>
</div>